sudo: false
matrix:
  fast_finish: true
  include:
  - python: '3.4'
    env: TOXENV=py34
  - python: '3.5'
    env: TOXENV=py35
  - python: '3.6'
    env: TOXENV=py36
  - python: '2.7'
    env: TOXENV=py27
  - python: '3.5'
    env: TOXENV=lint
cache:
  directories:
  - "$HOME/.cache/pip"
install: pip install -U tox coveralls
language: python
script: tox

